{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{{ block.super }}
<!--  -->
<br><br>
<div class="container">

    <div class="card p-4">
        <h3 class="text-center "><b>Update ToDoList</b></h3>
        <form action="" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
           <button class="btn btn-primary" type="submit">UpdateToDO</button>
            <input type="hidden" name="next" value="{{next}}">
          </form>
    </div>
</div>

{% endblock %}
